<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet">
</head>
<body>
<a href="/cubes">__cubes</a><br>
<a href="/braid">__braid</a><br>
<a href="/gearwave">__gear wave</a><br>
<a href="/multiwave">__multi wave</a><br>
<a href="/watercolor">__watercolor</a>
</body>
</html>