<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet">
<script type="text/javascript" src="paper.js"></script>
<script type="text/paperscript" src="scripts/<%= @script %>.js" canvas="myCanvas"></script>
</head>
<body>
  <a href="/">__menu</a>
  <canvas id="myCanvas" resize="true"></canvas>
</body>
</html>